:root{
  --black: #000000;



  --main-bg: var(--black);
}


/* Styles All Pages app Page Retains */


.Page-Container{

  /* Ensure page height is 100% on all body sections */
  min-height: 100vh;


  text-align: center;



  background-color: var(--main-bg);




  /* Most Text on site will be white, unless specified */
  color: white;






}



/* Page body styling,
to ensure full coverage and style, cover the entire page. 

*/
body{
  margin: 0;
}





/* ********************************************************************* */


.App {
  text-align: center;


}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
